/ProjetoLeandro/nbproject/private/
/projetoPSW1/nbproject/private/
/ClienteLeandro/nbproject/private/
/ServidorLeandro/nbproject/private/
/ClienteLeandro/build/
/ServidorLeandro/build/
/Servlet110816/nbproject/private/
/Servlet110816/build/
/EnvioFormularioIMC/nbproject/private/
/EnvioFormularioIMC/build/
/Astral/nbproject/private/
/Astral/build/
/ZpZip/nbproject/private/
/ZpZip/build/
/PedraPapelTesoura/nbproject/private/
/PedraPapelTesoura/build/